<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZDL_dateList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E1BA8D41F32FBCB0002B105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E1BA8ED1F32FBCC0002B105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E1BA8F81F32FBCC0002B105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
